.header {
  padding-top: 10px;
  padding-bottom: 10px;

  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--boarder-color);

  @media screen and (min-width: 768px) {
    padding-top: 24px;
    padding-bottom: 25px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

.header__conteiner {
  display: flex;
  align-items: center;

  @media screen and (max-width: 767px) {
    justify-content: space-between;
  }
}

.navigation {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
  margin-left: 93px;

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.menu__item:not(:last-child) {
  position: relative;
  margin-right: 50px;
}

.menu__link {
  color: var(--primary-dark-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--primary-accent-color);
  }
}

.menu__link_carent {
  color: var(--primary-accent-color);

  &::after {
    position: absolute;
    left: 0;
    bottom: -33px;

    display: block;
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--primary-accent-color);
  }
}

.burger-btn {
  background-color: transparent;
  border: none;
  padding: 0;

  &__icon {
    fill: var(--primary-dark-color);
  }

  line-height: 0;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: auto;

  @media screen and (max-width: 768px) {
    display: none;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
    align-items: center;
  }
}

.contact__item:not(:last-child) {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 10px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 30px;
  }
}

.contact__link {
  display: flex;
  align-items: center;
  color: var(--text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--primary-accent-color);
    fill: var(--primary-accent-color);
  }
}

.contact__icon {
  margin-right: 10px;
  fill: currentColor;
}

.mobile-menu {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  background-color: var(--primary-white);
  padding: 48px 40px;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 500ms linear, visibility 500ms linear;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modile-nav__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.modile-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--primary-dark-color);
}

.modile-nav__link--current {
  color: var(--primary-accent-color);
}

.modile-contact {
  margin-top: auto;
  margin-bottom: 64px;
}

.modile-contact__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.modile-contact__link-tel {
  margin-bottom: 32px;

  font-weight: 500;
  font-size: 34px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--primary-accent-color);
}

.modile-contact__link-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--text-color);
}

.mobile-social {
  display: flex;
  align-items: center;
}
.mobile-social__item {
  position: relative;
  &:not(:last-child) {
    margin-right: 20px;

    &::after {
      position: absolute;
      content: '';
      height: 22px;
      width: 0px;
      right: -10px;
      top: 0;

      border: 1px solid rgba(33, 33, 33, 0.2);
    }
  }
}

.mobile-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--primary-accent-color);
}

.modal-menu__close-button {
  position: absolute;
  right: 8px;
  top: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;

  fill: var(--primary-dark-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    fill: var(--primary-accent-color);
  }
}
