.header {
  padding-top: 24px;
  padding-bottom: 25px;

  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--boarder-color);
}

.header__conteiner {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
  margin-left: 93px;
}

.menu__item:not(:last-child) {
  position: relative;
  margin-right: 50px;
}

.menu__link {
  color: var(--primary-dark-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--primary-accent-color);
  }
}

.menu__link_carent {
  color: var(--primary-accent-color);

  &::after {
    position: absolute;
    left: 0;
    bottom: -33px;

    display: block;
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--primary-accent-color);
  }
}

.contact {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contact__item:not(:last-child) {
  margin-right: 30px;
}

.contact__link {
  display: flex;
  align-items: center;
  color: var(--text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--primary-accent-color);
    fill: var(--primary-accent-color);
  }
}

.contact__icon {
  margin-right: 10px;
  fill: currentColor;
}

// .footer-contat-list {
//   display: flex;
// }
