.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.filter {
  margin-bottom: 50px;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  @media screen and (min-width: 768px) {
    justify-content: center;
  }

  margin-right: -8px;
  margin-top: -15px;
}

.filter__item {
  margin-right: 8px;
  margin-top: 15px;
}

.filter__button {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--button-text-color);
  background-color: var(--button-background-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--primary-white);
    background-color: var(--primary-accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.filter__button.carent {
  color: var(--primary-white);
  background-color: var(--primary-accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.card__title {
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-dark-color);
}

.card__text {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.exsample {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    flex-basis: calc((100% - 60px) / 2);
    margin-left: -30px;
    margin-top: -30px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 90px) / 3);
  }
}

.exsample__item {
  display: flex;
  flex-direction: column;
  width: 450px;

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 768px) {
    margin-left: 30px;
    margin-top: 30px;
    width: 354px;
  }
  @media screen and (min-width: 1200px) {
    width: 370px;
  }
}

.card {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.card__wrapper {
  position: relative;
  overflow: hidden;
}

.card__box {
  flex-grow: 1;

  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;

  background: #ffffff;
  border: 1px solid #eeeeee;
  border-top: none;
}

.card__desc {
  position: absolute;
  bottom: -100%;
  left: 0;

  padding: 63px 24px;
  overflow: auto;

  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--primary-white);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .card:hover & {
    transform: translateY(-100%);
  }
}
