.team {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  background-color: var(--team-background-color);
}

.team__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.team__item {
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 60px) / 2);
    margin-top: 30px;
    margin-left: 30px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 120px) / 4);
  }

  background: var(--primary-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__user-name {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: (--primary-dark-color);
}

.team__box {
  padding: 24px 122px;
  @media screen and (min-width: 768px) {
    padding: 24px 74px;
  }
  @media screen and (min-width: 1200px) {
    padding: 30px 32px;
  }
}

.team__position {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
