.work {
  padding-bottom: 94px;
}

.work__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: -30px;
  margin-top: -30px;
}

.work__item {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
}

.work__thumb {
  position: relative;
}

.work__text {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  padding: 27px;

  color: var(--primary-white);
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
